<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recruitment.mapper.EducationExperienceMapper" >
  <resultMap id="BaseResultMap" type="com.recruitment.pojo.EducationExperience" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="educationid" property="educationid" jdbcType="CHAR" />
    <result column="school" property="school" jdbcType="CHAR" />
    <result column="education" property="education" jdbcType="CHAR" />
    <result column="major" property="major" jdbcType="CHAR" />
    <result column="start" property="start" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, educationid, school, education, major, start
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.recruitment.pojo.EducationExperienceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from education_experience
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from education_experience
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from education_experience
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.recruitment.pojo.EducationExperienceExample" >
    delete from education_experience
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.recruitment.pojo.EducationExperience" >
    insert into education_experience (id, educationid, school, 
      education, major, start)
    values (#{id,jdbcType=INTEGER}, #{educationid,jdbcType=CHAR}, #{school,jdbcType=CHAR}, 
      #{education,jdbcType=CHAR}, #{major,jdbcType=CHAR}, #{start,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.recruitment.pojo.EducationExperience" >
    insert into education_experience
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="educationid != null" >
        educationid,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="start != null" >
        start,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="educationid != null" >
        #{educationid,jdbcType=CHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=CHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=CHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=CHAR},
      </if>
      <if test="start != null" >
        #{start,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.recruitment.pojo.EducationExperienceExample" resultType="java.lang.Integer" >
    select count(*) from education_experience
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update education_experience
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.educationid != null" >
        educationid = #{record.educationid,jdbcType=CHAR},
      </if>
      <if test="record.school != null" >
        school = #{record.school,jdbcType=CHAR},
      </if>
      <if test="record.education != null" >
        education = #{record.education,jdbcType=CHAR},
      </if>
      <if test="record.major != null" >
        major = #{record.major,jdbcType=CHAR},
      </if>
      <if test="record.start != null" >
        start = #{record.start,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update education_experience
    set id = #{record.id,jdbcType=INTEGER},
      educationid = #{record.educationid,jdbcType=CHAR},
      school = #{record.school,jdbcType=CHAR},
      education = #{record.education,jdbcType=CHAR},
      major = #{record.major,jdbcType=CHAR},
      start = #{record.start,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.recruitment.pojo.EducationExperience" >
    update education_experience
    <set >
      <if test="educationid != null" >
        educationid = #{educationid,jdbcType=CHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=CHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=CHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=CHAR},
      </if>
      <if test="start != null" >
        start = #{start,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recruitment.pojo.EducationExperience" >
    update education_experience
    set educationid = #{educationid,jdbcType=CHAR},
      school = #{school,jdbcType=CHAR},
      education = #{education,jdbcType=CHAR},
      major = #{major,jdbcType=CHAR},
      start = #{start,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>