<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recruitment.mapper.IntroduceMapper" >
  <resultMap id="BaseResultMap" type="com.recruitment.pojo.Introduce" >
    <id column="introduceId" property="introduceid" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    introduceId, description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.recruitment.pojo.IntroduceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from introduce
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from introduce
    where introduceId = #{introduceid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from introduce
    where introduceId = #{introduceid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.recruitment.pojo.IntroduceExample" >
    delete from introduce
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.recruitment.pojo.Introduce" >
    insert into introduce (introduceId, description)
    values (#{introduceid,jdbcType=CHAR}, #{description,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.recruitment.pojo.Introduce" >
    insert into introduce
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="introduceid != null" >
        introduceId,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="introduceid != null" >
        #{introduceid,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.recruitment.pojo.IntroduceExample" resultType="java.lang.Integer" >
    select count(*) from introduce
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update introduce
    <set >
      <if test="record.introduceid != null" >
        introduceId = #{record.introduceid,jdbcType=CHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update introduce
    set introduceId = #{record.introduceid,jdbcType=CHAR},
      description = #{record.description,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.recruitment.pojo.Introduce" >
    update introduce
    <set >
      <if test="description != null" >
        description = #{description,jdbcType=CHAR},
      </if>
    </set>
    where introduceId = #{introduceid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recruitment.pojo.Introduce" >
    update introduce
    set description = #{description,jdbcType=CHAR}
    where introduceId = #{introduceid,jdbcType=CHAR}
  </update>
</mapper>