<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recruitment.mapper.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.recruitment.pojo.Dictionary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="groupKey" property="groupkey" jdbcType="INTEGER" />
    <result column="groupValue" property="groupvalue" jdbcType="VARCHAR" />
    <result column="itemKey" property="itemkey" jdbcType="INTEGER" />
    <result column="itemValue" property="itemvalue" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, groupKey, groupValue, itemKey, itemValue, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.recruitment.pojo.DictionaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.recruitment.pojo.DictionaryExample" >
    delete from dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.recruitment.pojo.Dictionary" >
    insert into dictionary (id, groupKey, groupValue, 
      itemKey, itemValue, status
      )
    values (#{id,jdbcType=INTEGER}, #{groupkey,jdbcType=INTEGER}, #{groupvalue,jdbcType=VARCHAR}, 
      #{itemkey,jdbcType=INTEGER}, #{itemvalue,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.recruitment.pojo.Dictionary" >
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupkey != null" >
        groupKey,
      </if>
      <if test="groupvalue != null" >
        groupValue,
      </if>
      <if test="itemkey != null" >
        itemKey,
      </if>
      <if test="itemvalue != null" >
        itemValue,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupkey != null" >
        #{groupkey,jdbcType=INTEGER},
      </if>
      <if test="groupvalue != null" >
        #{groupvalue,jdbcType=VARCHAR},
      </if>
      <if test="itemkey != null" >
        #{itemkey,jdbcType=INTEGER},
      </if>
      <if test="itemvalue != null" >
        #{itemvalue,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.recruitment.pojo.DictionaryExample" resultType="java.lang.Integer" >
    select count(*) from dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dictionary
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.groupkey != null" >
        groupKey = #{record.groupkey,jdbcType=INTEGER},
      </if>
      <if test="record.groupvalue != null" >
        groupValue = #{record.groupvalue,jdbcType=VARCHAR},
      </if>
      <if test="record.itemkey != null" >
        itemKey = #{record.itemkey,jdbcType=INTEGER},
      </if>
      <if test="record.itemvalue != null" >
        itemValue = #{record.itemvalue,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dictionary
    set id = #{record.id,jdbcType=INTEGER},
      groupKey = #{record.groupkey,jdbcType=INTEGER},
      groupValue = #{record.groupvalue,jdbcType=VARCHAR},
      itemKey = #{record.itemkey,jdbcType=INTEGER},
      itemValue = #{record.itemvalue,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.recruitment.pojo.Dictionary" >
    update dictionary
    <set >
      <if test="groupkey != null" >
        groupKey = #{groupkey,jdbcType=INTEGER},
      </if>
      <if test="groupvalue != null" >
        groupValue = #{groupvalue,jdbcType=VARCHAR},
      </if>
      <if test="itemkey != null" >
        itemKey = #{itemkey,jdbcType=INTEGER},
      </if>
      <if test="itemvalue != null" >
        itemValue = #{itemvalue,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recruitment.pojo.Dictionary" >
    update dictionary
    set groupKey = #{groupkey,jdbcType=INTEGER},
      groupValue = #{groupvalue,jdbcType=VARCHAR},
      itemKey = #{itemkey,jdbcType=INTEGER},
      itemValue = #{itemvalue,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>